/**** basic setting **/
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	margin:  0;
	padding:  0;    
	border-spacing: border-box;
	font-family: 'MapoFlowerIsland';
}

body{
	background:  #eee;
}

/******* basic end *********/

.skill{
	display: none;
}


.boo{
    background:  transparent;
    position: absolute;
	left:0;
  	top: 100%;
  	transition:  all .35s ease;
	width: 100%;
	margin: 0 auto;
	height:  auto;
	padding-top: 3em
}


.is-show{
	display: block;
    background:  #455E7C;
    position: absolute;    
    top: 0%;
    height: auto !important;
    z-index: 898;
  	transition:  all .35s ease;
    display: block ;
	left:0;
	 animation-duration: 1s;
 	 animation-name: Up;
}

.downEvt{
	animation-duration: 3s;
	top: 100%;
	left:0;
	position: absolute;
  	transition:  all .35s ease;
}

@keyframes Up {
  from {
	top: 100%;
  }

  to {
    top: 0%;
    width: 100%;
  }
}

@keyframes Down {
  100% {
   position: absolute;
   top: 100%;
  }
}



/*
	img {
	max-width:  3000px;
  	width: 100%;
 	 height: 100vh;
 	 position: absolute;
 	 object-fit: cover;
 	 filter: url(#water);

	}*/

#menu {
	height: 100vh;
	max-height:  10000px;
	position: fixed;
	background-color: #0C4334;
	width: 95%;
	transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
	transform: translateX(-100%);
	left: 3em;
	z-index: 999;
}

#menu.expanded {
	transform: translateX(0%);
	left: 0px;
}

.menu-inner {
	width: 100%;
	height: 100%;
	position: relative;
}

#blob {
	top: 0;
	z-index: -1;
	right: 3em;
	transform: translateX(100%);
	height: 100%;
	position: absolute;
	width:  80%;
	display: none;
}

#blob-path {
	height: 100%;
	fill:  #0C4334;
}

.hamburger {
	right: 3em;
	position: absolute;
	width: 20px;
	height: 20px;
	margin-top: -10px;	
}

.hamburger .line {
	width: 100%;
	height: 4px;
	background-color: #fff;
	position: absolute;
}

.hamburger .line:nth-child(2) {
	top: 50%;
	margin-top: -2px;
}

.hamburger .line:nth-child(3) {
	bottom: 0;
}

section.container{
	font-size: 16px;
	padding: 2em 4em;
	width: 80%;
	height: 100vh;
	margin: 1em auto;
	/*   border: 5px solid RGBA(245,198,212,0.7);*/
	border-radius: 10px;
	background-image: linear-gradient(-45deg, rgba(179, 213, 224, 0.5) 25%, transparent 25%, transparent 50%, rgba(179, 213, 224, 0.5) 50%, rgba(179, 213, 224, 0.5) 75%, transparent 75%, transparent 100%);
	background-size: 52px 52px;
}

.wrapper{
	width:  96%;
	margin: 0 auto;
	height:  auto;
	display:  block;
}

.div-wrap{
	display: inline-flex;
	width:  100%;
	justify-content: center;
}

.div-wrap .sason{
	background: linear-gradient(140deg, #f3f5f0 80%, #dfe8eb 20%);
}

.wrapper-division{
	width:  48%;
	height:  30vh;
}

.wrapper-color{
	z-index: 222;
    width: 20%;
    opacity: 1;
    float: right;
    height: 55vh;
    background: #455E7C;
    position: absolute;
    right: 2em;
    top: 20%;
    color: #fff;
    font-family: 'MapoFlowerIsland';
	box-shadow: -12px 12px 1px  0 #c6ced4;
}

.wrapper h1{
    font-family: 'NEXON Lv1 Gothic OTF Light';
    font-size: 2em;
    text-align: center;
    line-height: 2;
}

.wrapper-color h1{
font-family: 'MapoFlowerIsland';
    font-size: 1.4em;
    text-align: right;
    line-height: 2;
    padding: 2em 1em 0;
    word-break: keep-all;
}

.wrapper-color h3{
	font-size:  1.6em;
	padding:  1em;
	line-height:  1.5;
}

.portfilo .works{
	display:  block;
}

.index-info{
	padding:  1em 0;
}

.bg:before{
	font-family:  'fontawesome';
	content:  '\f4d8';
	display:  block;
	position: relative;
	color:  #0c4334
}

.fa-angle-double-down{
	color: #455E7C;
}

.port-tit{
	font-size: 3em;
    text-align: center;
    width: 100%;
    margin: 2em;
    letter-spacing: 0.15em;
	font-weight: 600
}

.wrapper-division{
	display:inline-flex;
	background: #DFE8EB;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
}

.position-sub-tit{
	font-weight: bold;
    font-size: 2em;
    letter-spacing: 0.05em;
    margin: 3em 1em 0;
    width: 60%;
    word-break: keep-all;
    line-height: 1.5;
    position: relative;
	text-align: center;
}

.sason-bg{
	background-color: #fff;
 	background-image: linear-gradient(-45deg, rgba(179, 213, 224, 0.5) 25%, transparent 25%, transparent 50%, rgba(179, 213, 224, 0.5) 50%, rgba(179, 213, 224, 0.5) 75%, transparent 75%, transparent 100%);
  	background-size: 52px 52px;
}

.bottom-wrapper{
	background: #DFE8EB; 
	height: 30vh; 
	padding: 1em 0;
}

.bottom-wrapper h2{
	line-height: 2;
    margin: 0 2em;
}

.more-wrap{
	background-image: linear-gradient(140deg, #f3f5f0 80%, #123456 20%);
	padding: 3em 5em
}

.more_more h2{
    margin: 1em 1em 0.5em;
    font-size: 1.3em;
    text-align: center;
}
/*************************** skillContaner  *****************************/


.work-container{
	width: 100%;
}

h3.skill-tit{
    font-size: 2.4em;
    margin: .5em auto;
    text-align: center;
}

.boo .skill-tit{
	margin:  1em auto 1em;
	color:  #fff;
	font-size: 3em;
}

.skill-container{
	width:  70%;
	justify-content: center;
	margin:  1em auto;
}

.skillWrap{
	border:  1px solid #fff;
	widtH:  45%;
}

.skill-design-tool{
	display: inline-flex;
	justify-content: center;
	width: 100%;
}

h1.design-tit,
h1.cord-tit{
	color:  #333;
	background :#fff;
	font-family: 'NEXON Lv1 Gothic OTF Light';
}

.skill-cord-tool{
	display: inline-flex;
	justify-content: end;
	width: 100%;
}

.phoshop, .illust{
	width:  40%;
	margin:  0 auto;
	border:  1px solid #fff;
padding: 5em 2em 5em;
	color:  #fff;
	text-align: center;
}

.skill-container .skill-design-tool .fa-object-ungroup{
	display: block;
    margin: 2.8em 0 .5em;
	padding: 0 0.2em;
}


.skill-container .fa-keyboard{
		display: block;
    margin: 2.8em 0 .5em;
	padding: 0 0.2em;
}
.skill-container .skill-design-tool h1{
	display: block ;
    text-align: center;
	padding: 0 2em;
}

.skill-container .skill-cord-tool h1{
	width:  20%;
	text-align: center;
	padding: 0 0.2em;
}

.phoshop h1,
.illust h1{
	margin-top: 1em;
}

.skill-cord-tool .html, .skill-cord-tool .css, .skill-cord-tool .js {
    width: 33%;
    height: auto;
    padding: 5em 2em 5em;
    color: #fff;
    text-align: center;
}

.skill-cord-tool .html:after{
	content: '';
	display: block;
	border-right: 1px solid #fff;
	position: relative;
	left: 10%;
}

.skill-cord-tool .html h1,
.skill-cord-tool .css h1, 
.skill-cord-tool .js h1{ 
	text-align:  center;
    width: 100%;
    font-family: 'NEXON Lv1 Gothic OTF Light';
	margin-top: 1em;
}

.progress-text,
.progress-illust,
.progress-html,
.progress-css,
.progress-js{
	text-align:  center;
	font-size:  3em;
}

h1.end-desc{
	color:  #fff;
	margin: 3em 0 0 0;
	font-size: 3em;
}

.bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: tomato;
}

i.fas{
	cursor: pointer;
}

.fa-angle-double-down{
	width: 100%;
	cursor:  pointer;
	text-align:  center;
	font-sizE:  1em;
	margin:  0;
	padding:  0;
}

.work-wrapper{
	margin: 0.2em auto 4em;
	width: 33%;
	height: 55vh;
	display: inline-grid;
}

.work-wrapper h1{
	color: #fff;
}

.work-img-wrapper{
	display: inline-flex;
	justify-content: center;
	padding: 1em 0;
	cursor: pointer;
	transition: all .4s ease-in-out
}

.work-img-wrapper .work-img:hover{

}

.imgDark{
		background: rgba(0,0,0,0.5);
	transition: all .4s ease-in-out;
	display: block;
	z-index: 55;
	content:'asdfasdfasdf';
	color: #fff;
	cursor: pointer;
}

.hidespan{
	color: #fff;
}
.work-img{
	vertical-align: middle;
}

.work-pc{
	width: 70%;
}

.work-m{
	width: 17%;
	margin: 0 0 0 1em;
}

.work-only-m{
	width: 18.5%;
	margin: 0 .5em
}

.work-img img, .work-m img{
	width:  100%;
	height: 30vh
}

.work-desc{
	width:  80%;
	display: block;
	margin:  0 auto;
}

.work-desc dl{
	width:  100%;
	display: block;
	margin: 0 auto;
}

.work-desc dt{
	font-weight: bold;
	margin-top: 1em;
}

.work-desc dt,
.work-desc dd{
	color:  #fff;
	text-align: left;
	line-height: 2;    
	font-family: 'NEXON Lv1 Gothic OTF Light';

}

.work-desc dd.parti-dd,
.work-desc dt{
	display: inline-flex;
}

/******************** email ********************/

.contact-container{
	width:  70%;
	justify-content: center;
	margin:  1em auto;
	z-index: 999;
	color: #fff;
}
